
[Unit]
Description=Sends opensky data to uavserver
After=multi-user.target

[Service]
User=root
WorkingDirectory=/home/pi/uavserver/bin
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/python3 opensky-pump.py
StandardOutput=append:/var/log/opensky-pump.log
StandardError=append:/var/log/opensky-pump.log
SyslogIdentifier=opensky-pump

[Install]
WantedBy=multi-user.target
